body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.tan-hobby{
    color: orangered;
}h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
section{
    display: flex;
}
.hobby{
    width: 50%;
    padding-left: 5%;
}
.hobby img{
    width: 80%;
    padding-top: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.hire-link{
    background-color: orangered;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-size: 50px;
}
.dream-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.para{
    color: red;
    text-align: justify;
}