body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.tan-hobby{
    color: orangered;
}h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.flexible-area{
    display: flex;
}
.hobby{
    width: 50%;
    padding-left: 5%;
    
}
.hobby img{
    width: 80%;
    padding-top: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.hire-link{
    background-color: orangered;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-size: 50px;
}
.dream-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.para{
    color: red;
    text-align: justify;
}
.baby-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    
    
}
.experiance{
    margin-bottom: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
#deb{
    border-left: 10px solid;
    border-image: linear-gradient(orangered, cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}
