body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.tan{
    color: orangered;

}
h1{
    font-size: 40px;
    font-weight: 700px;
}
section{
    display: flex;
    padding-left: 2px;
    

}
.gan{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;   
}
.gon{
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700px;
}
.ban{
    width: 50%;
    padding-left: 2px;
    
}
.ban img{
    width: 80;
}
