body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 40px;
}
.small{
    color: orangered;
}
.flexible-sec{
    display: flex;
}
.anchor{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.div-hpa{
    width: 50%;
    padding-left: 2%;
    border-left: 20px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2%;
    box-shadow: 10px 10px 50px greenyellow;
    border-radius: 5%;
    margin-left: 5%;
    
}
.div-hpa img{
    width: 80%;
    padding-top: 2%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    margin-top: 50px;
    
}
.justify{
    text-align: justify;
}
.font{
    font-size: 50px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.full-stack{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 50px greenyellow;
    padding: 2%;
    border-radius: 5%;
}
#dev{
    border-left: 20px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2%;
}
#web{
    border-left: 20px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2%;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 60px;
}
footer p{
    text-align: center;
}